/*!CK:2253255764!*//*1456813949,*/

._56hv,._56hy{background-color:#fff;border:1px solid #ccc;display:inline-block;margin-left:7px;margin-right:2px;outline:none;padding:2px;position:relative}._56hv i,._56hy{background-color:transparent;background-position:center 25%;background-repeat:no-repeat;background-size:cover;display:block;height:38px;width:52px}._56hy{position:absolute;transform:rotate(5deg)}
.threadRow .snippet{max-width:430px;overflow:hidden;position:absolute;text-overflow:ellipsis;white-space:nowrap}.threadRow .snippet .indicator,#fbMessagesItemList .snippet .indicator{vertical-align:middle}

#bootloader_Oo0EM{height:42px;}.bootloader_Oo0EM{display:block!important;}